$titleSize: 50px;
$basicSize: 20px;
$pointSize: 30px;

/*color*/
$eventColor: #f39189;
$colorWhite: #edf6e5;
$colorGrey: #555;
$bg: #0e1212;
$bg2: #1b2735;
$bgLigth: #f8f5f1;
$normalLight: #eeebdd;
// #f8f9fa;
// #eeebdd;
/*breakpoint*/
$breakWeb1: 1200px;
$breakWeb2: 980px;
$breakTablets: 770px;
$breakPhones: 570px;
