@use "vars" as var;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
#wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

// header

#header {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 60px;
  background-color: transparent;
  border-bottom: 1px solid #bbbbbb;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.header-color {
    background-color: #fff;
  }

  .logo {
    font-size: 23px;
    padding-left: 15px;
    color: var.$eventColor;
  }

  #nav {
    @media all and (max-width: var.$breakWeb2) {
      display: none;
    }
    ul {
      display: flex;
      padding-right: 50px;

      li {
        padding: 0 15px;

        .main-btn {
          font-size: var.$basicSize;
          font-weight: 600;
          padding: 4px;
          border-radius: 7px;
          background: transparent;
          transition: color 0.3s, background 0.3s;

          &:hover {
            background: #000;
            color: var.$eventColor;
          }
        }
      }
    }
  }
  .mobile-wrap {
    display: none;
    padding-right: 20px;

    @media all and (max-width: var.$breakWeb2) {
      display: block;
    }

    .mobile-btn {
      display: block;
      width: 30px;
      height: 20px;
      position: relative;

      .bar {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;

        &.bar1 {
          top: 0;
        }
        &.bar2 {
          margin-top: -1px;
          top: 50%;
        }

        &.bar3 {
          bottom: 0;
        }
      }
    }
  }
}
/*mobile-menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(0);
  z-index: 4;
  width: 30%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.9);
  transition: all 300ms ease-in;

  &.mobile-menu-hide {
    transform: translateX(100%);
  }
  #mobile-nav {
    width: 100%;
    height: inherit;
    padding: 70px 0;
    text-align: center;

    ul {
      height: 100%;

      .mobileGnb {
        display: block;
        margin-bottom: 15px;
        text-indent: 10px;
        text-align: left;
        font-size: var.$basicSize;
        font-weight: 600;
        padding: 4px;
        border-radius: 7px;
        background: transparent;
        transition: color 0.3s, background 0.3s;

        &:hover {
          background: #000;
          color: var.$eventColor;
        }
      }
    }
  }
  .close-wrap {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;

    .close-btn {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;

      .close {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        top: 50%;
        transform: translateY(-1px);

        &.close1 {
          transform: rotate(45deg);
        }
        &.close2 {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
/*main*/

#main {
  position: relative;
  z-index: 2;
  width: 100%;

  .wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  // title
  .title {
    width: 100%;
    text-align: center;
  }
  .title h2 {
    font-size: var.$titleSize;
    font-family: "Noto Sans", sans-serif;

    @media all and (max-width: var.$breakPhones) {
      font-size: 40px;
    }
  }

  .title-line {
    display: block;
    width: 300px;
    height: 6px;
    background-color: #000;
    margin: 3px auto;

    @media all and (max-width: var.$breakPhones) {
      width: 230px;
      height: 4px;
    }
  }
  //my text
  .my-text {
    width: 80%;
    margin: 50px auto;

    .description {
      color: #333;
      font-size: var.$basicSize;
      line-height: 150%;
    }
  }
}

// intro section
#intro {
  width: 100%;
  height: 500px;
  position: relative;
  background: radial-gradient(ellipse at bottom, #f39189 0%, #f2b4b4 50%, #e2d5d5 100%);
  /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  padding-top: 80px;

  .content {
    position: relative;
    // height: 100vh;

    .intro-title {
      display: inline-block;
      // position: absolute;

      z-index: 2;
      left: 36%;
      top: 30%;

      h3 {
        font-size: 150px;
        // padding-bottom: 30px;
        color: var.$colorWhite;

        @media all and (max-width: var.$breakPhones) {
          font-size: 8.92857142857143vw;
        }
      }

      h2 {
        font-size: 140px;
        letter-spacing: -5px;
        transform: translate(0, 0);

        @media all and (max-width: var.$breakWeb1) {
          font-size: 130px;
        }
        @media all and (max-width: var.$breakTablets) {
          font-size: 18.4210526315789vw;
        }
      }

      @media all and (max-width: 1024px) {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        text-align: center;
      }
    }
  }
  .gotoBtn {
    display: block;
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    transition: all 0.4s;
    animation: ani 1.8s infinite;

    i {
      font-size: 35px;
      line-height: 100px;
    }
  }
  @keyframes ani {
    0% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(-50%, -20px);
      transform-origin: top right;
    }
  }
}

// about me section

#about {
  width: 100%;
  background-color: var.$normalLight;
  padding: 120px 0;

  @media all and (max-width: 1024px) {
    padding: 14.6484375% 0;
  }

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    @media all and (max-width: var.$breakPhones) {
      flex-direction: column;
    }

    .icon {
      padding: 0 30px;
      text-align: center;

      @media all and (max-width: var.$breakPhones) {
        padding: 15px 0;
      }

      .icon-circle {
        width: 150px;
        height: 150px;
        border: 1px solid #333;
        border-radius: 50%;
        text-align: center;

        i {
          line-height: 150px;
          font-size: 70px;
          transition: all 0.3s;
          transform: scale(1);

          &:hover {
            transform: scale(1.1);
            color: var.$eventColor;
          }
        }
      }

      .next {
        display: block;
        margin-top: -20px;
        font-size: var.$titleSize;

        @media all and (max-width: var.$breakPhones) {
          display: none;
        }
      }
      .down {
        display: none;
        font-size: var.$titleSize;

        @media all and (max-width: var.$breakPhones) {
          display: block;
        }
      }
      h5 {
        font-size: 21px;
        padding-top: 20px;
      }
    }
  }
  .my-info {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;

    @media all and (max-width: var.$breakWeb1) {
      width: 90%;
      margin: auto;
      margin-top: 100px;
    }

    .info {
      @media all and (max-width: var.$breakTablets) {
        flex: 50%;
        text-align: center;
        margin-bottom: 50px;
      }
      @media all and (max-width: var.$breakPhones) {
        flex: 100%;
        margin-bottom: 30px;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;

      @media all and (max-width: var.$breakTablets) {
        flex-wrap: wrap;
      }

      span {
        &:nth-child(1) {
          color: var.$colorGrey;
          font-size: var.$basicSize;
          font-weight: 600;
          padding-bottom: 10px;
          display: block;
        }
        &:nth-child(2) {
          font-size: var.$basicSize;
        }
      }
    }
  }
}

//skills section
#skills {
  width: 100%;
  background-color: var.$normalLight;
  padding: 100px 0 200px;

  @media all and (max-width: 1024px) {
    padding: 0 0 200px;
  }
  @media all and (max-width: var.$breakWeb2) {
    padding-bottom: 15.3061224489796vw;
  }
  .skill-box-wrap {
    width: 80%;
    margin: auto;

    &::after {
      display: block;
      clear: both;
      content: "";
    }

    .skill-box {
      float: left;
      width: 31.3333%;
      margin: 1%;

      @media all and (max-width: var.$breakWeb2) {
        width: 48%;
      }
      @media all and (max-width: var.$breakPhones) {
        width: 100%;
      }
      .container {
        width: 100%;
        background-color: #ddd;
        border-radius: 25px;
        margin-top: 5px;

        .skill-per {
          text-align: right;
          padding: 2px 7px 2px 0;
          border-radius: inherit;
          color: #fff;

          &.ani {
            animation: fillbars 1.5s 1;
          }

          &.html {
            max-width: 85%;
            background: #3d56b2;
          }

          &.css {
            max-width: 80%;
            background: #f0a500;
          }
          &.jquery {
            max-width: 70%;
            background: #916bbf;
          }
          &.js {
            max-width: 45%;
            background: #c6d57e;
          }
          &.vue {
            max-width: 30%;
            background: #e05d5d;
          }
        }
        @keyframes fillbars {
          0% {
            width: 0%;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
  }
}

//project
#work1 {
  width: 100%;
  position: relative;
  padding: 150px 0 100px 0;
  background-color: var.$bgLigth;

  @media all and (max-width: var.$breakWeb2) {
    padding: 150px 0 100px;
    background-color: var.$bgLigth;
  }

  .work-title {
    position: absolute;
    top: -70px;
    left: 50px;

    @media all and (max-width: var.$breakWeb2) {
      left: 10px;
      top: -20px;
    }

    h2 {
      font-size: 130px;
      font-weight: 700;
      font-family: "Ubuntu", sans-serif;

      @media all and (max-width: var.$breakTablets) {
        font-size: 16.8831168831169vw;
      }
    }
  }
  .project {
    width: 100%;
    height: 500px;
    display: flex;
    margin: 100px auto 200px;

    @media all and (max-width: var.$breakWeb2) {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin: 9.8% auto 8.16326530612245%;
    }

    &:last-child {
      margin: 0 auto;
    }

    .left-img {
      width: 60%;
      height: 100%;
      transform: translateY(0);
      cursor: pointer;
      transition: transform 0.5s;
      box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);

      &:hover {
        transform: translateY(-10px);
      }

      img {
        width: 100%;
        height: 100%;
      }

      @media all and (max-width: var.$breakWeb2) {
        width: 100%;
      }
    }

    .right-text {
      width: 40%;
      height: 100%;
      padding-left: 5.98290598290598%;

      @media all and (max-width: 1024px) {
        padding-left: 20px;
      }
      @media all and (max-width: var.$breakWeb2) {
        width: 90%;
        margin: auto;
        height: 100%;
        padding-left: 0;
        padding-top: 30px;
      }
      h4,
      p {
        font-size: var.$basicSize;
        line-height: 150%;
      }
      h3 {
        font-size: var.$pointSize;
        padding: 15px 0 30px 0;
      }
    }
    .even {
      padding-left: 0;
      padding-right: 5.98290598290598%;

      @media all and (max-width: 1024px) {
        padding-right: 20px;
      }
      @media all and (max-width: var.$breakWeb2) {
        order: 2;
      }
    }
    .button-box {
      width: 100%;
      padding-top: 50px;
      @media all and (max-width: var.$breakWeb2) {
        padding-top: 30px;
      }

      .btn-wrap {
        position: relative;
        width: 180px;
        margin: 0 auto 15px;

        span {
          display: block;
          background-color: var.$eventColor;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          position: relative;
          z-index: 1;
          transition: all 0.2s;
        }

        &:hover {
          span {
            width: 100%;
            border-radius: 25px;
          }
        }
        .site-btn {
          text-transform: uppercase;
          top: 5px;
          left: 0;
          position: absolute;
          z-index: 2;
          display: inline-block;
          padding: 10px 20px;
          font-size: var.$basicSize;

          i {
            padding: 0 7px;
          }
        }
      }
    }
  }
}

//mini project

#work2 {
  width: 100%;
  padding: 100px 0;
  background-color: var.$bgLigth;

  .mini-list {
    padding-top: 100px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;

    .focus {
      grid-column: 1/3;

      @media all and (max-width: var.$breakWeb2) {
        grid-column: 1;
      }
    }
    .focus2 {
      grid-column: 3/5;
      @media all and (max-width: var.$breakWeb2) {
        grid-column: 2;
      }
      @media all and (max-width: var.$breakPhones) {
        grid-column: 1;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;
      background-color: #fff;
      color: #333;
      cursor: pointer;
      box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);

      .thumb {
        background: url(../img/video.png) no-repeat 50% 50%;
        background-size: cover;
        padding-bottom: 60%;

        &.thumb1 {
          background-image: url(../img/video.png);
        }
        &.thumb2 {
          background-image: url(../img/mini2.png);
        }
        &.thumb3 {
          background-image: url(../img/mini3.png);
          background-size: contain;
        }
        &.thumb4 {
          background-image: url(../img/mini4.png);
          background-size: contain;
        }
        &.thumb5 {
          background-image: url(../img/mini5.png);
        }
        &.thumb6 {
          background-image: url(../img/mini6.png);
        }
      }

      article {
        flex: 1;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
          font-size: var.$basicSize;
        }
        p {
          font-size: 17px;
        }
        .moreBtn {
          display: block;
          width: 90px;
          font-size: 17px;
          font-weight: 600;
          padding: 3px 0;
          border: none;
          border-bottom: 2px solid var.$eventColor;
          transition: color 0.3s;

          &:hover {
            color: var.$eventColor;
          }
        }
      }
    }

    @media all and (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media all and (max-width: var.$breakWeb2) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media all and (max-width: var.$breakPhones) {
      grid-template-columns: 1fr;
    }
  }
}

//contact {
#contact {
  width: 100%;
  padding: 50px 0;
  background-color: #f8f9fa;

  .title {
    h3 {
      font-size: var.$pointSize;
    }
  }
  .contact-content {
    text-align: center;

    .contact-info {
      @media all and (max-width: var.$breakWeb2) {
        margin-top: 5%;
      }
      div {
        font-size: var.$basicSize;
        line-height: 180%;
        color: var.$colorGrey;

        b {
          color: #333;
        }
        a {
          color: var.$colorGrey;
        }
        .email-icon {
          padding-left: 7px;
          font-size: 22px;
          color: #e83f1e;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .contact-icon {
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #111;
        margin: 8px;
        text-align: center;
        i {
          font-size: var.$pointSize;
          line-height: 55px;
          transform: scale(1);
          transition: transform 0.3s;
          color: white;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

//footer
#footer {
  width: 100%;
  height: 70px;
  background-color: #f8f9fa;
  border-top: 1px solid #828282;
  span {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 17px;
    color: #828282;
    line-height: 70px;
  }
}
